@charset "utf-8";
.Erika {
	font-family: Cambria;
	font-size: 16px;
	font-weight: lighter;
	color: #003;
	font-style: italic;
	text-align: justify;
}
.Titulo {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bolder;
	color: #036;
}
.Subtitulos {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	font-style: normal;
	color: #013A69;
}
.Pasionqsesiente {
	font-family: "MS Serif", "New York", serif;
	font-size: 14px;
	font-style: oblique;
	font-weight: bold;
	color: #036;
	text-decoration: none;
}
.subtitulosMay {
	font-family: Centaur;
	font-size: 16px;
	font-style: normal;
	text-transform: uppercase;
	color: #003;
	font-weight: bold;
	text-align: left;
}
.cuerpo {
	font-family: Centaur;
	font-size: 17px;
	font-style: normal;
	color: #003;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	text-align: justify;
}
